.Related {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
}
.list{
  text-align: left;
  font-size: 1.1em;
  color: white;
  padding-left: 3em;
}

@media Screen and (max-width:900px){
  .Related {
    display: none;
  }
}